params {

    input {
      gpm1 = "Gp1_pooled_merge_final.csv"
      gpm2 = "GP2_merge_final.csv"
      gpi1 = "gp1_paired_merge.csv"
      p1 = "Pooled_Info_Part1.csv"
      p2 = "‎⁨Pooled_Info_Part2_fixed.csv"
      i1 = "Paired_Info.csv"

    }
 
  output {
      folder = "local/guineamerge1"
    }

}



                    